body {
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
[class*="__container"] {
  max-width: 1087px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media (max-width: 1057px) {
  [class*="__container"] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}
.main {
  flex: 1 1 auto;
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__menu {
  flex: 1 1 auto;
}
.menu {
  display: flex;
  justify-content: flex-end;
}
.menu__list {
  display: flex;
}
.menu__item {
  margin: 0 40px 0 0;
}
.menu__link {
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #000;
  letter-spacing: 1px;
}
.menu__link:hover {
  text-decoration: underline;
}
.header__button {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  flex: 0 0 252px;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 80px;
  }
  .header__button {
    flex: 0 0 170px;
  }
  .menu__item {
    margin: 0 30px 0 0;
  }
}
.button {
  display: inline-block;
  font-family: Raleway;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #fcfdfe;
  text-transform: uppercase;
  background: #ec5863;
  border-radius: 5px;
  padding: 14px 30px;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background-color: rgb(115, 95, 230);
}
.button_blue {
  background: #4285f4;
}
/*--------------------------*/
.close-icon-menu,
.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu,
  .close-icon-menu {
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 20px;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    background-color: #000;
    height: 2px;
  }
  .close-icon-menu {
    display: none;
  }
  .icon-menu span {
    background-color: #000;
    height: 2px;
  }

  .close-icon-menu::before,
  .close-icon-menu::after {
    content: "";
    background-color: #000;
    height: 2px;
    transform-origin: 0 0;
  }
  .close-icon-menu::before {
    transform: rotate(35deg);
  }
  .close-icon-menu::after {
    transform: rotate(-32deg);
  }
  .menu__body {
    position: fixed;
    overflow: auto;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 90px 15px 30px 15px;
    transition: left 0.4s ease 0s;
  }
  .header:target .menu__body {
    left: 0;
  }
  .header:target .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #fff;
  }
  .menu__item {
    margin: 0 0 25px 0;
  }
  .menu__item:last-child {
    margin-bottom: 0px;
  }
  .menu__link {
    color: #000;
    font-size: 20px;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header:target .icon-menu {
    display: none;
  }
  .header:target .close-icon-menu {
    display: flex;
  }
}
@media (max-width: 479.98px) {
  .header__logo {
    flex: 0 0 40px;
    overflow: hidden;
  }
}
/*------------------------------*/
.block-text {
}
.block-text__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  color: #000;
}
.block-text__title:not(:last-child) {
  margin: 0 0 12px 0;
}
.block-text__title span {
  color: #ec5863;
}
.block-text__title_blue {
}
.block-text__title_blue span {
  color: #4285f4;
}
.block-text__text {
  line-height: 138%;
}
.block-text__text:not(:last-child) {
  margin: 0 0 24px 0;
}
.block-text__button {
}

/* ============================================== */
.get-started {
  background-color: #fafbfd;
}
.get-started__container {
  padding: 150px 15px 50px 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.get-started__container:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 267px;
  top: 0;
  transform: translate(100%, 0px);
  background: #ec5863;
  border-radius: 30px 0px 0px 30px;
}

.get-started__content {
  flex: 0 1 48%;
  padding: 0 20px 0 20px;
  align-items: center;
}
.get-started__block-text {
  max-width: 410px;
}
.button {
}
.get-started__video {
  flex: 1 1 100%;
  padding: 60px 0 0 20px;
}
.video-get-started {
  display: inline-flex;
  align-items: center;
}
.video-get-started__icon {
  flex: 0 0 44px;
}
.video-get-started__body {
  padding: 0 0 0 12px;
}
.video-get-started__title {
  color: #b0b0b0;
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 1.5px;
}
.video-get-started__title:not(:last-child) {
  margin: 0 0 5px 0;
}
.video-get-started__text {
  font-size: 9px;
  line-height: 126%;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  color: #000000;
}
.get-started__image {
  position: relative;
  z-index: 2;
  flex: 0 1 52%;
}
.get-started__image img {
  max-width: 100%;
}
@media (max-width: 991.98px) {
  .get-started__container:before {
    right: 185px;
    border-radius: 20px 0 0 20px;
  }
}
@media (max-width: 767.98px) {
  .get-started__container {
    padding: 100px 15px 30px 15px;
  }
  .get-started__container:before {
    display: none;
  }
  .get-started__block-text {
    max-width: none;
  }
  .get-started__content {
    flex: 1 1 100%;
    padding: 0;
  }
  .get-started__image {
    flex: 1 1 100%;
    text-align: center;
    padding: 30px 0;
  }
  .get-started__video {
    padding: 0;
  }
}
/*==============================================*/
.stay-safe {
  padding: 80px 0;
}
.stay-safe__container {
  display: flex;
  align-items: center;
}
.stay-safe__media {
  flex: 0 1 50%;
}

.stay-safe__content {
  flex: 0 1 50%;
}
.stay-safe__block-text {
}

.media-stay-safe {
  padding: 56px 0 27px 0;
  width: 373px;
  text-align: center;
  position: relative;
}
.media-stay-safe__image {
  box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
  display: inline-block;
  border-radius: 16px;
  position: relative;
  width: 61.5%;
}
.media-stay-safe__image img {
  position: relative;
  z-index: 2;
  max-width: 100%;
}
.media-stay-safe__image::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 12px;
  width: 206px;
  height: 27px;
  z-index: 2;
  background: rgba(240, 240, 240, 0.49);
  border-radius: 16px;
}
.media-stay-safe__item {
  position: absolute;
  background: #ec5863;
  border-radius: 30px;
  width: 77px;
  height: 77px;
}
.media-stay-safe__item_1 {
  top: 0;
  left: 0;
  width: 147px;
  height: 147px;
}
.media-stay-safe__item_2 {
  bottom: 0;
  left: 33px;
}
.media-stay-safe__item_3 {
  bottom: 107px;
  right: 34px;
}
@media (max-width: 991.98px) {
  .stay-safe__media {
    padding: 0 0 0 47px;
  }
  .stay-safe {
    padding: 60px 0;
  }
}
@media (min-width: 991.98px) {
  .stay-safe__media {
    padding: 0 0 0 47px;
  }
}
@media (max-width: 767.98px) {
  .stay-safe__container {
    flex-direction: column-reverse;
  }
  .stay-safe__content {
    margin: 0 0 30px 0;
  }
  .media-stay-safe {
    width: 290px;
  }
}
@media (max-width: 479.98px) {
  .media-stay-safe {
    width: 290px;
  }
}

/* ============================ */

.experts {
  background: #fafbfd;
  padding: 103px 0 116px 0;
}
.experts__container {
}
.experts__block-text {
  max-width: 400px;
}
.experts__statistics {
  margin: 0 0 80px 0;
}
.statistics-experts {
  max-width: 655px;
  margin: 0 auto;

  position: relative;
}
.statistics-experts__body {
  position: relative;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  margin: 0 0 80px 0;
}

.statistics-experts__decor {
  position: absolute;
  background: #ec5863;
  border-radius: 30px;
}
.statistics-experts__decor_1 {
  width: 65px;
  height: 65px;
  transform: rotate(-30deg);
  bottom: -21px;
  left: -21px;
  border-radius: 16px;
}
.statistics-experts__decor_2 {
  width: 97px;
  height: 97px;
  right: 50%;
  top: -40px;
  transform: rotate(30deg);
}
.statistics-experts__decor_3 {
  width: 128px;
  height: 128px;
  right: -55px;
  top: 0px;
  transform: rotate(-30deg);
}

.body-statistics-experts {
  padding: 25px 80px;
  display: flex;
  align-items: center;
}
.body-statistics-experts__item {
  flex: 0 1 25%;
  text-align: center;
}
.body-statistics-experts__item:last-child {
  flex: 0 1 50%;
}
.body-statistics-experts__value {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #ec5863;
  margin-bottom: 5px;
}
.body-statistics-experts__text {
  font-weight: 700;
  font-size: 11px;
  line-height: 1.8;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}
.experts__video {
  flex: 0 1 50%;
  padding: 0 0 32% 0;
  position: relative;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  overflow: hidden;
}
.experts__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.experts__body {
  display: flex;
  align-items: center;
}
.experts__content {
  padding: 0 20px 0 0;
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .experts {
    padding: 80px 0 30px 0;
  }
  .experts__body {
    align-items: stretch;
    flex-direction: column;
  }
  .experts__video {
    padding: 0 0 58% 0;
  }
  .experts__content {
    padding: 0;
    margin: 0 0 30px 0;
  }
  .statistics-experts__body {
    margin: 0 0 50px 0;
  }
  .body-statistics-experts {
    padding: 25px;
  }
}
@media (max-width: 479.98px) {
  .body-statistics-experts {
    flex-direction: column;
  }
  .body-statistics-experts__item:not(:last-child) {
    margin: 0 0 15px 0;
  }
}
.block-text_center {
  text-align: center;
}
.block-text__text_mw {
  max-width: 620px;
  margin: 0 auto;
}

/* ====================== */

.healthcare {
  padding: 0 0 30px 0;
}
.healthcare__container {
}
.healthcare__block-text {
  margin: 0 0 45px 0;
}
.healthcare__items {
  display: flex;
  max-width: 980px;
  margin: 0 auto;
  gap: 72px;
}
.healthcare__item {
  flex: 0 1 33.333%;
}
.item-healthcare {
  z-index: 2;
  height: 100%;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 17px;
  text-align: center;
}
.item-healthcare__icon {
  margin: 0 0 58px 0;
}
.item-healthcare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 138.5%;
  color: #000;
  margin: 0 0 4px 0;
}
.item-healthcare__text {
  line-height: 138.5%;
}
.healthcare__column {
  position: relative;
}
.healthcare__column_1::before,
.healthcare__column_1::after {
  content: "";
  position: absolute;
  background: #ec5863;
  border-radius: 16px;
}
.healthcare__column_1::before {
  width: 65px;
  height: 65px;
  bottom: -20px;
  left: -20px;
  transform: rotate(-30deg);
}
.healthcare__column_1::after {
  width: 97px;
  height: 97px;
  top: 35px;
  right: -45px;
  border-radius: 30px;
  transform: rotate(20deg);
}
.healthcare__column_2::after {
  content: "";
  position: absolute;
  background: #ec5863;
  width: 127px;
  height: 127px;
  bottom: -35px;
  right: -75px;
  border-radius: 30px;
  transform: rotate(35deg);
}
.healthcare__column_3::after {
  content: "";
  position: absolute;
  background: #ec5863;
  width: 65px;
  height: 65px;
  top: -20px;
  right: -20px;

  border-radius: 16px;
  transform: rotate(65deg);
}
.footer {
  padding: 45px 0;
}
.footer__container {
}
.footer__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer__item {
}
@media (max-width: 1087px) {
  .healthcare__column {
    padding: 0 15px;
  }
}
@media (max-width: 991.98px) {
  .healthcare {
    padding: 30px 0 30px 0;
  }
  .healthcare__items {
    flex-direction: column;
  }
  .healthcare__column:not(:last-child) {
    margin: 0 0 25px 0;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 30px 0;
  }
  .footer__items {
    flex-direction: column;
  }
}
